.App {
  background: linear-gradient(122.61deg, #342498 9.17%, #16132B 76.1%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  padding: 1.5rem 2rem;
  color: white;
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.content {
  padding: 1.5rem 0;
}

.title-font {
  font-family: 'Poppins';
}

.primary-font {
  font-family: 'Raleway';
}